.planirovka {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 79px;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    background-color: rgba($color: #000000, $alpha: 0.5);
    background-image: url('./images/topcarousel/royalexpo-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow-y: auto;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой */
        z-index: -1;
      }
    .planirovka_tittle {
      text-align: start;
      align-self: flex-start;
      font-size: 28px;
      margin-bottom: 20px;
      margin-left: 5vw;
      color: white;
    }
  
    .planirovka_main_container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background-color: white;
      min-height: 80vh;
      width: 90vw;
      border-radius: 16px;
    overflow-y: auto;

        @media (max-width:400px) {
            height: 100%;
        }
      .left_img {
        @media (max-width:400px) {
            margin-bottom: 5vh;
        }
        flex: 1;
        img {
          width: 100%;
          height: auto;
        }
      }
      .layout{
        flex: 0.7;
        height: 100%;
        border-left: 1px solid grey ;
        border-bottom: 1px solid grey ;
        background-color: rgba($color: grey, $alpha: 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 30%;
      }
      .right_menu {
        border-bottom: 1px solid grey;
        padding: 1vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .plan_button_submit{
            margin-top: 10vh;
            background-color: #C7A381;
            border: none;
            color: white;
            font-size: 1.3rem;
            padding: 8px;
        }
        
        .planirovka_menu_tittle {
            margin-top: 2vh;
          font-size: 20px;
          margin-bottom: 10px;

        }
  
        .planirovka_menu {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: 2vw;
          justify-self: flex-start;
          align-self: baseline;

  
          .rooms {
            display: flex;
            gap: 10px;
          }
  
          .flats-buttons {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
          }
        }
      }
    }

    @media (max-width: 900px) {
        .planirovka_main_container {
            flex-direction: column;
            align-items: center;

            .right_menu {
                order: 1;
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
            }

            .left_img {
                order: 2;
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
            }

            .layout {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                border-left: none;
                border-bottom: none;
            }
        }
    }
  }
.showblock{
    transform: translateX(0);
}
.plans_button {
    position: fixed;
    right: 0;
    top: 40%;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    z-index: 7;
    background: #1C2949;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.5s ease; /* Transition for the text color */

    &::before {
        content: '';
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #C7A381;
        transition: bottom 0.5s ease;
        z-index: -1; /* Place the pseudo-element behind the text */
    }

    &:hover::before {
        bottom: 0;
    }

    &:hover {
        color: white; /* Optionally change the text color */
    }
}

.planirovka_cont{
    height: 100%;
}
.close_plans{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    right: 3vw;
    border-radius: 10%;
    color: white;
}
.selected {
    background-color: #C7A381;
    color: white;
  }
